<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.smssdk.demo"
    android:versionCode="30501"
    android:versionName="3.5.1" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

<!--	<uses-permission android:name="android.permission.BLUETOOTH"/>-->

    <application
		android:name="cn.smssdk.demo.DemoApplication"
		android:icon="@drawable/ic_launcher"
		android:usesCleartextTraffic="true"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity android:name=".SplashActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".HomeActivity"
			android:screenOrientation="portrait"/>
		<activity android:name=".VerifyActivity"
			android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
			android:windowSoftInputMode="adjustPan|stateHidden"
			android:screenOrientation="portrait"/>
		<activity android:name=".ResultActivity"
			android:screenOrientation="portrait"/>
        <activity
			android:name=".MainActivity"
			android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
			android:windowSoftInputMode="adjustPan|stateHidden" />
        
    </application>

</manifest>
